<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Localizator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form action=<%= locales_url %> method="get" class="navbar-form navbar-left">
        <div class="form-group">
          <label>
            Key:
            <input name="filters[key]" type="text" value="<%= @filters["key"] %>" class="form-control" />
          </label>
        </div>


        <div class="form-group">
          <label>
            Text:
            <input name="filters[text]" type="text" value="<%= @filters["text"] %>" class="form-control" />
          </label>
        </div>

        <div class="form-group">
          <label>
            <input name="filters[incomplete]" type="checkbox" <%= "checked=checked" if @filters["incomplete"] == "on" %> class="form-control" />
            Incomplete
          </label>
        </div>
        <div class="form-group">
          <label>
            <input name="filters[empty]" type="checkbox" <%= "checked=checked" if @filters["empty"] == "on" %> class="form-control" />
            Empty
          </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <%= link_to 'Clear', locales_url, class: "btn btn-default navbar-btn" %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
